*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
--Strong-cyan: hsl(172, 67%, 45%);
}
body{
    background-color: var(--Light-grayish-cyan);
}
.logo{
    margin: 58px 45%;



}
.text {
    font-size: 16px;
    color: var(--Very-dark-cyan);
    margin: 5px;
    font-weight: 400;
}
.container{
    margin: 0 auto;
    width: 40%;
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    padding: 20px;
}
.form__group {
    background-color: var(--Very-light-grayish-cyan);
    height: 30px;
    width: 220px;
    display: flex;
    align-items: center;
    padding: 10px;border-radius: 5px;

}
.form__group .form__control{
    border: 0;
    outline: none;
    background-color: transparent;
}

.form__group .form__control::placeholder {
    text-align: end;
}
.form__group .form__img__wrapper {
    flex: 1;
}
.form__img__wrapper .form__img { 
    height: 15px;
    width: 15px;
}
.select__wrapper{
    margin: 20px 0px;
}
.select__content{
    border-radius: 20px;
    color:var(--White);
    margin-bottom: 10px;
    display: flex;
    margin: 10px 0px;
    flex-wrap: wrap;
    align-items: center;
}
.card {
    margin: 10px;
    width: 50px;
    background-color:var(--Very-dark-cyan);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.card:hover{
    background-color: var(--Light-grayish-cyan);
}
.text__buttom{
    display: flex;
    margin-bottom: 8px;
}
.text__buttom h6{
     flex: 1;
}


.right-side{
    background-color: var(--Very-dark-cyan);
    flex: 1;
    border-radius: 15px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.left-side{
    background-color: var(--White);
    flex: 1;
    border-radius: 15px;
}
.flex-lrigt{
    display: flex;
    color: var(--White);
    padding: 10px 20px;
    align-items: center;
  
}

.flex-lrigt h6 {
    font-size: 10px;
}
.flex-lrigt span {
    font-size: 10px;
}
.flex-lrigt h4{
    color: var(--Grayish-cyan);
    flex: 1;
    text-align: end;
}

.btn__wrapper {
    padding: 10px 20px;
}
.btn__wrapper .btn{
    border: none;
    border-radius: 9px;background-color: var(--Light-grayish-cyan);
    cursor: pointer;
    height: 30px;
    width: 250px;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--Dark-grayish-cyan);
}